#
# GrITAS Resource file.
#
#
#  Vertical levels
#  ---------------
 
GrITAS*Vertical_Levels: 1 2 3 4 5 6 7 8
 
# User Defined Grid List 
# ---------------------
GrITAS*List::
#  kt   var name                Title                           kx's
   40     tb         "sevir1_m09 : brightness temperature [K]"  989 
::
