#
# GrITAS Resource file.
#
#
#  Vertical levels
#  ---------------
 
GrITAS*Vertical_Levels:   175 150 125 100 70 50 40 30 20 10 7 5 4 3 2 1 0.7 0.5 0.4 0.3 0.1
 
# User Defined Grid List 
# ---------------------
GrITAS*List::
#  kt   var name                Title                           kx's
   87     o3         "o3lev_aura : Ozone Mixing Ratio        "  304 
::
