#
# GrITAS Resource file.
#
#
#  Vertical levels
#  ---------------
 
GrITAS*Vertical_Levels:   1000 
 
# User Defined Grid List 
# ---------------------
GrITAS*List::
#  kt   var name                Title                           kx's
   17    _pcro   "pcp_tmi_trmm_ocn : Preciptation rate (Ocean) " 213 
::
