#
# GrITAS Resource file.
#
#

# Vertical levels
# ---------------
GrITAS*Vertical_Levels:   5 9 11 13 15:17 19:20 22:24 27:28 30 32 43:45 47 50 61 63

# User Defined Grid List
# ----------------------
GrITAS*List::
#  kt   var name     Title                                        kx's
   40   tb          "IASI METOP-A  : brightness temperature [K]"  875
::
