#
# GrITAS Resource file.
#
#
                                                                                                                                
# Vertical levels - Must decrease monotonically
# ---------------------------------------------
GrITAS*Vertical_Levels: 1 2 3 4 

# User Defined Grid List
# ----------------------
GrITAS*List::
#  kt   var name   Title                                         kx's
   40   tb        "MSU NOAA-11(PM): brightness temperature [K]"  211
::
