#
# GrITAS Resource file.
#
#
                                                                                                                                
# Vertical levels - Must decrease monotonically
# ---------------------------------------------
GrITAS*Vertical_Levels: 1 2 3 4 5

# User Defined Grid List
# ----------------------
GrITAS*List::
#  kt   var name   Title                                           kx's
   40   tb_mhs    "MHS NOAA-19(PM): brightness temperature [K]"    819
::
