#
# GrITAS Resource file.
#
#
                                                                                                                                
# Vertical levels
# ---------------
GrITAS*Vertical_Levels: 1 

# User Defined Grid List
# ----------------------
GrITAS*List::
#  kt   var name   Title                                          kx's
   17   tb        "SSM/I DMSP F-10: Precipitation rate        "   272
::
