[meta]
    title = "MERRA2 Gridded Obs - Radiances"

[scheduling]
    initial cycle point = 20210601T0000
    final cycle point   = 20211101T0000
    runahead limit = P1
    
    [[dependencies]]
        [[[P1M]]]
            graph = """
                move_jobs => process_jobs => combine_jobs
            """

[runtime]
    [[root]]  # Inherited by all tasks
        [[[environment]]]
            STORAGE_DIR = /discover/nobackup/projects/gmao/merra2/data/obs/.WORK/products_revised
            HOST_DIR = /discover/nobackup/projects/gmao/merra2/data/obs/.WORK/work_dir_wjd
            SCRIPT_DIR = /home/dao_ops/operations/GIT-OPS/Gridded-Obs/MERRA2/bin
            BIN_DIR = /discover/nobackup/dao_ops/TEST/M2_GRITAS/github_repo/M2_GRITAS/GrITAS/Linux/bin
            satellite = ssu_n14


    [[move_jobs]]
        script = """
        set echo
        
        cd ${SCRIPT_DIR}
        
        # Extract synoptic time and date info
        YEAR_TABLE=$(echo ${CYLC_TASK_CYCLE_POINT} | cut -c 1-6)
        YYYY=$(echo ${CYLC_TASK_CYCLE_POINT} | cut -c 1-4)
        MM=$(echo ${CYLC_TASK_CYCLE_POINT} | cut -c 5-6)
        mm=$(printf $((10#$MM )))

        # Determine ExpID
        if [[ $YYYY -ge 1979 && $YYYY -lt 1991 ]]; then
            export ExpID=d5124_m2_jan79
        elif [[ $YYYY -ge 1991 && $YYYY -lt 2000 ]]; then
            export ExpID=d5124_m2_jan91
        elif [[ $YYYY -ge 2000 && $YYYY -lt 2010 ]]; then
            export ExpID=d5124_m2_jan00
        elif [[ $YYYY -ge 2010 && $YYYY -lt 2026 ]]; then
            if [[ $YYYY -eq 2021 ]]; then
                if [[ $mm -ge 6 && $mm -lt 12 ]]; then
                    export ExpID=d5124_m2_jun21
                else
                    export ExpID=d5124_m2_jan10
                fi
            else
                # Default for years 2010-2020 and 2022-2025
                export ExpID=d5124_m2_jan10
            fi
        fi

        echo "Starting move_jobs script"
        echo "Current directory: $(pwd)"
        echo "CYLC_TASK_CYCLE_POINT: '${CYLC_TASK_CYCLE_POINT}'"
        
        DAY_TABLE=(31 28 31 30 31 30 31 31 30 31 30 31)
        if [ "$mm" -eq "02" ]; then
            num_check=$( /usr/bin/perl /home/dao_ops/bin/tick ${YEAR_TABLE}${DAY_TABLE[$mm-1]} )
            check_num=$(echo $num_check | cut -c 7-8 )
            echo $check_num
            if [ $check_num -eq "29" ]; then
                DAY_TABLE=(31 29 31 30 31 30 31 31 30 31 30 31 )
            fi
        fi

        for SYNOP in 00 06 12 18; do
            ${SCRIPT_DIR}/move_sat.j > ${CYLC_TASK_WORK_DIR}/${SYNOP}.log &
        done

        [[[job]]]
            batch system = slurm
            execution time limit = PT30M
            [[[directives]]]
                --export = ALL
                --nodes = 1
                --partition = datamove


    [[process_jobs]]
        pre-script = "source $BIN_DIR/.g5_modules.sh; module load nco"
        script = """
        set echo
        cd ${SCRIPT_DIR}

        # Extract synoptic time and date info
        YEAR_TABLE=$(echo ${CYLC_TASK_CYCLE_POINT} | cut -c 1-6)
        YYYY=$(echo ${CYLC_TASK_CYCLE_POINT} | cut -c 1-4)
        MM=$(echo ${CYLC_TASK_CYCLE_POINT} | cut -c 5-6)
        mm=$(printf $((10#$MM )))
        DAY_TABLE=(31 28 31 30 31 30 31 31 30 31 30 31)

        # Determine ExpID
        if [[ $YYYY -ge 1979 && $YYYY -lt 1991 ]]; then
            export ExpID=d5124_m2_jan79
        elif [[ $YYYY -ge 1991 && $YYYY -lt 2000 ]]; then
            export ExpID=d5124_m2_jan91
        elif [[ $YYYY -ge 2000 && $YYYY -lt 2010 ]]; then
            export ExpID=d5124_m2_jan00
        elif [[ $YYYY -ge 2010 && $YYYY -lt 2026 ]]; then
            if [[ $YYYY -eq 2021 ]]; then
                if [[ $mm -ge 6 && $mm -lt 12 ]]; then
                    export ExpID=d5124_m2_jun21
                else
                    export ExpID=d5124_m2_jan10
                fi
            else
                # Default for years 2010-2020 and 2022-2025
                export ExpID=d5124_m2_jan10
            fi
        fi

        if [ "$mm" -eq "02" ]; then
                num_check=$( /usr/bin/perl /home/dao_ops/bin/tick ${YEAR_TABLE}${DAY_TABLE[$mm-1]} )
                check_num=$(echo $num_check | cut -c 7-8 )
                echo $check_num
                if [ $check_num -eq "29" ]; then
                    DAY_TABLE=(31 29 31 30 31 30 31 31 30 31 30 31 )
                fi
        fi
        for SYNOP in 00 06 12 18 all; do 
            echo "Processing synoptic time: $SYNOP for $YEAR_TABLE"
                ${SCRIPT_DIR}/process_gritas_sat.j > ${CYLC_TASK_WORK_DIR}/${SYNOP}.log
        done


        """
        [[[job]]]
            batch system = slurm
            execution time limit = PT59M
            
        [[[directives]]]
            --export = ALL
            --partition = preops
            --constraint = mil

    [[combine_jobs]]
        pre-script = "source $BIN_DIR/.g5_modules.sh; module load nco"
        script = """
                set -x
                cd ${SCRIPT_DIR}
                # Extract synoptic time and date info
                YEAR_TABLE=$(echo ${CYLC_TASK_CYCLE_POINT} | cut -c 1-6)
                YYYY=$(echo ${CYLC_TASK_CYCLE_POINT} | cut -c 1-4)
                MM=$(echo ${CYLC_TASK_CYCLE_POINT} | cut -c 5-6)
                mm=$(printf $((10#$MM )))
                DAY_TABLE=(31 28 31 30 31 30 31 31 30 31 30 31)

                if [ "$mm" -eq "02" ]; then
                        num_check=$( /usr/bin/perl /home/dao_ops/bin/tick ${YEAR_TABLE}${DAY_TABLE[$mm-1]} )
                        check_num=$(echo $num_check | cut -c 7-8 )
                        echo $check_num
                        if [ $check_num -eq "29" ]; then
                                DAY_TABLE=(31 29 31 30 31 30 31 31 30 31 30 31 )
                        fi
                fi
                for SYNOP in 00 06 12 18 all; do
                    echo "Combining synoptic time: $SYNOP for $YEAR_TABLE"
                    # Execute the combine script with synoptic time as argument
                    ${SCRIPT_DIR}/combine_sat_output.j $YEAR_TABLE $SYNOP  > ${CYLC_TASK_WORK_DIR}/${SYNOP}.log &
                done
                wait
                """
        [[[job]]]
            batch system = slurm
            execution time limit = PT59M
        [[[directives]]]
            --nodes = 1
            --partition = preops
            --constraint = mil
